body{
    margin: 0;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.container{
    margin: 0 auto;

}

nav .logo{
    width: 15%;
    height: 15%;
    float: left;
    padding: 10px 0;
    margin-left: 10%;
}


header::after{
    content: '';
    display: table;
    clear: both;
}

nav{
    position: fixed;
    background: #bfd37a;
    z-index: 100;
}

nav.navScroll{
    background: #bfd37a;
    opacity: 0.75;
    height: 80px;
    padding: 10px 50px;
}

nav.navScroll .logo{
    height: 60px;
    width: 10%;
}


nav ul{
    float: right;
    margin: 0;
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin:  0 35px;
    padding-top: 45px;
    position: relative;
}

nav ul li a{
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li a:hover{
    color: #000;
}

nav ul li a::before{
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: #444;

    position: absolute;
    top: 0;

    transition: all ease-in-out 250ms;
}

nav ul li a:hover::before{
    width: 100%;
}


section.sec1{
    width: 100%;
    margin-top: 125px;
    height: 100vh;
    background: url(pictures/BackgroundMainCropped.png);
    background-size: cover;
}

section.sec2{
    width: 100%;
    margin-top: 125px;
    height: 100vh;
    background: white;
    background-size: cover;
}

section.sec3{
    width: 100%;
    margin-top: 125px;
    height: 100vh;
    background: #f5f5f5;
    background-size: cover;
}

section.sec4{
    width: 100%;
    margin-top: 125px;
    height: 100vh;
    background: white;
    background-size: cover;
}

section.sec5{
    width: 100%;
    margin-top: 125px;
    height: 100vh;
    background: #f5f5f5;
    background-size: cover;
}

section.sec6{
    width: 100%;
    margin-top: 125px;
    height: 100vh;
    background: white;
    background-size: cover;
}

h1{
    padding-top: 100px;
    text-align: center;
}

p{
    text-align: center;
}


.team1{
    margin: 0 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.team1 div img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.team2 div img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.team2{
    margin: 50px 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.supervisor{
    margin: 50px 200px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.supervisor img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.aboutML1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: auto;
    margin-right: auto;
}

.aboutML1 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}



.aboutML2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: auto;
    margin-right: auto;
}

.aboutML2 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    
}





.pictures_frontend{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
}

.pictures_frontend img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 80%; 
}
  

.slidesTechnician {
   display: none;
}

.slidesStudent {
    display: none;
}

.prev2,
.next2 {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    color: white;
    background-color: #bfd37a;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.prev2{
    left: 55%;
}


.next2 {
    right: 5%;

}


.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    color: white;
    background-color: #bfd37a;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
   right: 55%;
}

.prev{
    left: 5%;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev2:hover,
.next2:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.list_frontend{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: auto;
    margin-right: auto;
    
}

.list_frontend li{
    display: inline-block;
    margin: 35px;
    padding-top: 45px;
    text-align: center;
    position: relative;
    
    
}

.list_frontend li span{
    font-size: 60px;
    transition: 0.5s ease;
}

.list_frontend li p{
    font-size: 20px;
    
}

.list_frontend li span:hover{
    font-size: 100px;
    transition: 0.5s ease;
}

.pictures_mobile{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
}

.pictures_mobile img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 34%;
}

.pictures_mobile li{
    list-style: none;
    margin: 35px;
    padding: 35px 100px;
    padding-top: 45px;
    text-align: center;
    position: relative;
    
    
}

.pictures_mobile li span{
    font-size: 40px;
    transition: 0.5s ease;
}

.pictures_mobile li p{
    font-size: 20px;
    
}

.pictures_mobile li span:hover{
    font-size: 60px;
    transition: 0.5s ease;
}

.slidesMobile {
    display: none;
}

.prevMobile,
.nextMobile {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 16px;
    top: 40%;
    color: white;
    background-color: #bfd37a;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.nextMobile {
    right: 10%;
}
    
.prevMobile{
    left: 60%;
}

.prevMobile:hover,
.nextMobile:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.pictures_wiki{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    position: relative;
}

.pictures_wiki img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 70%;
}

.prevWIKI,
.nextWIKI {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 16px;
    top: 40%;
    color: white;
    background-color: #bfd37a;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.nextWIKI {
    right: 10%;
}
    
.prevWIKI{
    left: 10%;
}

.prevWIKI:hover,
.nextWIKI:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slidesWIKI {
    display: none;
}